<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type
			 ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<Logger name="io.pivotal" level="INFO" />
	<Logger name="reactor.netty" level="INFO" />
	<Logger name="netty" level="INFO" />
	<Logger name="org.springframework.web" level="INFO" />

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>